@media (max-width: 1600px) {
    .box-slider-container-image{
        width: 650px;
        height: 390px;
    }
    .image-container-detail{
        width: 650px;
        height: 320px;
    }
    .slider-container-detail {
        width: 650px;
        height: 50px;
    }
}
@media (min-width: 1600px) {
    .box-slider-container-image{
        width: 800px;
        height: 500px;
    }
    .image-container-detail{
        width: 800px;
        height: 430px;
    }
    .slider-container-detail {
        width: 800px;
        height: 50px;
    }
}